# databse addres
MONGODB_URI=mongodb://localhost

# port the app will be running on
PORT=3000

# log level of app
LOG_LEVEL='debug'

# secret for login sessions
SESSION_SECRET=wa=%2_3X3L,jG<hlsLGOIQBxl[#fPt

# email configuration, use ethereal for tests
EMAIL_ADDRESS=yesenia28@ethereal.email
EMAIL_PASSWORD=5w9qExKEHf56SGaUwt
SMTP_ADDRESS=smtp.ethereal.email
SMTP_PORT=587