{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "parser": "babel-eslint",
    "rules": {
        "no-param-reassign": "off",
        "no-underscore-dangle": "off"
    },
    "ignorePatterns": ["**/test/*.js"]
}
